In [5]:
pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1
Note: you may need to restart the kernel to use updated packages.

In [6]:
from geopy.geocoders import Nominatim
import pandas as pd

# Exemple de DataFrame avec des noms d'aéroports
data = {'Airport': ['Charles de Gaulle France ', 'Heathrow', 'Los Angeles International']}
df = pd.DataFrame(data)

# Initialiser le géocodeur
geolocator = Nominatim(user_agent="geoapiExercises")

# Fonction pour obtenir les coordonnées d'un aéroport
def get_coordinates(airport_name):
    try:
        location = geolocator.geocode(airport_name + " airport")
        if location:
            return location.latitude, location.longitude
        else:
            return None, None
    except Exception as e:
        return None, None

# Appliquer la fonction et créer des colonnes pour latitude et longitude
df[['Latitude', 'Longitude']] = df['Airport'].apply(lambda x: pd.Series(get_coordinates(x)))

# Afficher le DataFrame avec les coordonnées
print(df)

                     Airport Latitude Longitude
0  Charles de Gaulle France      None      None
1                   Heathrow     None      None
2  Los Angeles International     None      None

In [2]:
# URL de l'API Open-Meteo avec les paramètres requis
#url ="https://davidmegginson.github.io/ourairports-data/airports.csv"
import requests
url="https://davidmegginson.github.io/ourairports-data/airports.csv"
# Effectuer la requête GET
response = requests.get(url)

# Vérifier si la requête a réussi
if response.status_code == 200:
    # Enregistrer le contenu dans un fichier CSV
    with open("aer.csv", "wb") as file:
        file.write(response.content)
    print("Téléchargement terminé ! Les données sont enregistrées dans 'aer.csv'.")
else:
    print(f"Erreur lors de la requête : {response.status_code}")

Téléchargement terminé ! Les données sont enregistrées dans 'aer.csv'.

In [6]:
import pandas as pd
aer= pd.read_csv('/home/onyxia/work/Projet_Python-pour-la-data-science/aer.csv')

In [7]:
aer.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total RF Heliport,40.070985,-74.933689,11.0,NaN,US,US-PA,Bensalem,no,K00A,NaN,00A,https://www.penndot.pa.gov/TravelInPA/airports...,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,506791,00AN,small_airport,Katmai Lodge Airport,59.093287,-156.456699,80.0,NaN,US,US-AK,King Salmon,no,00AN,NaN,00AN,NaN,NaN,NaN

In [10]:
filtered_df = aer[aer['iso_country'] == 'US'][['latitude_deg', 'longitude_deg', 'iata_code']]

# Afficher le DataFrame filtré
print(filtered_df)

       latitude_deg  longitude_deg iata_code
0         40.070985     -74.933689       NaN
1         38.704022    -101.473911       NaN
2         59.947733    -151.692524       NaN
3         34.864799     -86.770302       NaN
4         59.093287    -156.456699       NaN
...             ...            ...       ...
80780     42.589699     -82.576401       NaN
80781     61.943713    -145.299398       CZC
80782     34.001681    -110.455115       NaN
81300     60.980701    -159.994003       ZNC
81511     32.110587     -97.356312       NaN

[31752 rows x 3 columns]

In [11]:
df = pd.read_excel('/home/onyxia/work/Projet_Python-pour-la-data-science/données_vols.xlsx')
unique_df = df[['Destination Airport']].drop_duplicates().reset_index(drop=True)

In [23]:
result = pd.merge(df, filtered_df, left_on='Destination Airport', right_on='iata_code', how='left')

In [24]:
result

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes),latitude_deg,longitude_deg,iata_code
0,AA,2020-01-01 00:00:00,1,N110AN,LAX,07:30:00,07:30:00,393,404,0,07:57:00,27,0,0,0,0,0,33.942501,-118.407997,LAX
1,AA,2020-01-01 00:00:00,3,N111ZM,LAX,12:30:00,12:24:00,389,370,-6,12:38:00,14,0,0,0,0,0,33.942501,-118.407997,LAX
2,AA,2020-01-01 00:00:00,111,N663AW,CLT,12:00:00,13:11:00,127,119,71,13:34:00,23,19,0,0,0,44,35.214001,-80.943100,CLT
3,AA,2020-01-01 00:00:00,117,N113AN,LAX,19:30:00,19:26:00,402,379,-4,19:51:00,25,0,0,0,0,0,33.942501,-118.407997,LAX
4,AA,2020-01-01 00:00:00,179,N103NN,SFO,10:30:00,10:25:00,409,392,-5,10:42:00,17,0,0,0,0,0,37.619806,-122.374821,SFO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57405,AA,12/31/2023,2772,N989AN,AUS,17:29:00,17:25:00,263,259,-4,17:52:00,27,0,0,0,0,0,30.197535,-97.662015,AUS
57406,AA,12/31/2023,2786,N326RP,MIA,12:30:00,12:26:00,196,178,-4,12:43:00,17,0,0,0,0,0,25.793200,-80.290604,MIA
57407,AA,12/31/2023,2813,N716UW,AUS,06:59:00,06:57:00,257,253,-2,07:30:00,33,0,0,0,0,0,30.197535,-97.662015,AUS
57408,AA,12/31/2023,2819,N961AN,ORD,08:59:00,08:53:00,170,173,-6,09:16:00,23,0,0,0,0,0,41.978600,-87.904800,ORD
57409,AA,12/31/2023,2829,N327SK,PHX,12:59:00,12:57:00,353,317,-2,13:11:00,14,0,0,0,0,0,33.435302,-112.005905,PHX

In [25]:
import geopy
from geopy.geocoders import Nominatim
 
# Création d'un objet géocodeur Nominatim
geolocator = Nominatim(user_agent="my_geocoder")
 
# Géocodage d'une adresse
location = geolocator.geocode("STT")
 
# Affichage des informations de localisation
print("Latitude:", location.latitude, "Longitude:", location.longitude)

result['latitude_deg'] = result['latitude_deg'].fillna(location.latitude)
result['longitude_deg'] = result['longitude_deg'].fillna(location.longitude)

Latitude: 18.33476905 Longitude: -64.9724536459818

In [26]:
result

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes),latitude_deg,longitude_deg,iata_code
0,AA,2020-01-01 00:00:00,1,N110AN,LAX,07:30:00,07:30:00,393,404,0,07:57:00,27,0,0,0,0,0,33.942501,-118.407997,LAX
1,AA,2020-01-01 00:00:00,3,N111ZM,LAX,12:30:00,12:24:00,389,370,-6,12:38:00,14,0,0,0,0,0,33.942501,-118.407997,LAX
2,AA,2020-01-01 00:00:00,111,N663AW,CLT,12:00:00,13:11:00,127,119,71,13:34:00,23,19,0,0,0,44,35.214001,-80.943100,CLT
3,AA,2020-01-01 00:00:00,117,N113AN,LAX,19:30:00,19:26:00,402,379,-4,19:51:00,25,0,0,0,0,0,33.942501,-118.407997,LAX
4,AA,2020-01-01 00:00:00,179,N103NN,SFO,10:30:00,10:25:00,409,392,-5,10:42:00,17,0,0,0,0,0,37.619806,-122.374821,SFO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57405,AA,12/31/2023,2772,N989AN,AUS,17:29:00,17:25:00,263,259,-4,17:52:00,27,0,0,0,0,0,30.197535,-97.662015,AUS
57406,AA,12/31/2023,2786,N326RP,MIA,12:30:00,12:26:00,196,178,-4,12:43:00,17,0,0,0,0,0,25.793200,-80.290604,MIA
57407,AA,12/31/2023,2813,N716UW,AUS,06:59:00,06:57:00,257,253,-2,07:30:00,33,0,0,0,0,0,30.197535,-97.662015,AUS
57408,AA,12/31/2023,2819,N961AN,ORD,08:59:00,08:53:00,170,173,-6,09:16:00,23,0,0,0,0,0,41.978600,-87.904800,ORD
57409,AA,12/31/2023,2829,N327SK,PHX,12:59:00,12:57:00,353,317,-2,13:11:00,14,0,0,0,0,0,33.435302,-112.005905,PHX

In [28]:
result = result.drop('iata_code', axis=1)

In [29]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57410 entries, 0 to 57409
Data columns (total 19 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Carrier Code                              57410 non-null  object
 1   Date (MM/DD/YYYY)                         57410 non-null  object
 2   Flight Number                             57410 non-null  int64
 3   Tail Number                               57184 non-null  object
 4   Destination Airport                       57410 non-null  object
 5   Scheduled departure time                  57410 non-null  object
 6   Actual departure time                     57410 non-null  object
 7   Scheduled elapsed time (Minutes)          57410 non-null  int64
 8   Actual elapsed time (Minutes)             57410 non-null  int64
 9   Departure delay (Minutes)                 57410 non-null  int64
 10  Wheels-off time                           57410 non-null  object
 11  Taxi-Out time (Minutes)                   57410 non-null  int64
 12  Delay Carrier (Minutes)                   57410 non-null  int64
 13  Delay Weather (Minutes)                   57410 non-null  int64
 14  Delay National Aviation System (Minutes)  57410 non-null  int64
 15  Delay Security (Minutes)                  57410 non-null  int64
 16  Delay Late Aircraft Arrival (Minutes)     57410 non-null  int64
 17  latitude_deg                              57410 non-null  float64
 18  longitude_deg                             57410 non-null  float64
dtypes: float64(2), int64(10), object(7)
memory usage: 8.3+ MB

In [32]:
unique_df = df[['Tail Number']].drop_duplicates().reset_index(drop=True)

In [33]:
unique_df

    Tail Number
0        N110AN
1        N111ZM
2        N663AW
3        N113AN
4        N103NN
..          ...
927      N413AN
928      N414AL
929      N432AN
930      N427AN
931      N448AN

[932 rows x 1 columns]