*Nettoyage des donn√©es*

In [21]:
import pandas as pd

In [22]:
data = pd.read_csv("data_depart.csv",delimiter=";")
data.head(6)

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,AA,01-01-20,1.0,N110AN,LAX,07:30,07:30,393.0,404.0,0.0,07:57,27.0,0.0,0.0,0.0,0.0,0.0
1,AA,01-01-20,3.0,N111ZM,LAX,12:30,12:24,389.0,370.0,-6.0,12:38,14.0,0.0,0.0,0.0,0.0,0.0
2,AA,01-01-20,111.0,N663AW,CLT,12:00,13:11,127.0,119.0,71.0,13:34,23.0,19.0,0.0,0.0,0.0,44.0
3,AA,01-01-20,117.0,N113AN,LAX,19:30,19:26,402.0,379.0,-4.0,19:51,25.0,0.0,0.0,0.0,0.0,0.0
4,AA,01-01-20,179.0,N103NN,SFO,10:30,10:25,409.0,392.0,-5.0,10:42,17.0,0.0,0.0,0.0,0.0,0.0
5,AA,01-01-20,243.0,N758AN,MIA,14:45,14:45,199.0,172.0,0.0,15:01,16.0,0.0,0.0,0.0,0.0,0.0

In [23]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57412 entries, 0 to 57411
Data columns (total 17 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Carrier Code                              57411 non-null  object
 1   Date (MM/DD/YYYY)                         57410 non-null  object
 2   Flight Number                             57410 non-null  float64
 3   Tail Number                               57184 non-null  object
 4   Destination Airport                       57410 non-null  object
 5   Scheduled departure time                  57410 non-null  object
 6   Actual departure time                     57410 non-null  object
 7   Scheduled elapsed time (Minutes)          57410 non-null  float64
 8   Actual elapsed time (Minutes)             57410 non-null  float64
 9   Departure delay (Minutes)                 57410 non-null  float64
 10  Wheels-off time                           57410 non-null  object
 11  Taxi-Out time (Minutes)                   57410 non-null  float64
 12  Delay Carrier (Minutes)                   57410 non-null  float64
 13  Delay Weather (Minutes)                   57410 non-null  float64
 14  Delay National Aviation System (Minutes)  57410 non-null  float64
 15  Delay Security (Minutes)                  57410 non-null  float64
 16  Delay Late Aircraft Arrival (Minutes)     57410 non-null  float64
dtypes: float64(10), object(7)
memory usage: 7.4+ MB

In [24]:
#creation d'une copie

df = data.copy()

df.head(-1)

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,AA,01-01-20,1.0,N110AN,LAX,07:30,07:30,393.0,404.0,0.0,07:57,27.0,0.0,0.0,0.0,0.0,0.0
1,AA,01-01-20,3.0,N111ZM,LAX,12:30,12:24,389.0,370.0,-6.0,12:38,14.0,0.0,0.0,0.0,0.0,0.0
2,AA,01-01-20,111.0,N663AW,CLT,12:00,13:11,127.0,119.0,71.0,13:34,23.0,19.0,0.0,0.0,0.0,44.0
3,AA,01-01-20,117.0,N113AN,LAX,19:30,19:26,402.0,379.0,-4.0,19:51,25.0,0.0,0.0,0.0,0.0,0.0
4,AA,01-01-20,179.0,N103NN,SFO,10:30,10:25,409.0,392.0,-5.0,10:42,17.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57406,AA,12/31/2023,2786.0,N326RP,MIA,12:30,12:26,196.0,178.0,-4.0,12:43,17.0,0.0,0.0,0.0,0.0,0.0
57407,AA,12/31/2023,2813.0,N716UW,AUS,06:59,06:57,257.0,253.0,-2.0,07:30,33.0,0.0,0.0,0.0,0.0,0.0
57408,AA,12/31/2023,2819.0,N961AN,ORD,08:59,08:53,170.0,173.0,-6.0,09:16,23.0,0.0,0.0,0.0,0.0,0.0
57409,AA,12/31/2023,2829.0,N327SK,PHX,12:59,12:57,353.0,317.0,-2.0,13:11,14.0,0.0,0.0,0.0,0.0,0.0
57410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.isnull().sum()

Carrier Code                                  1
Date (MM/DD/YYYY)                             2
Flight Number                                 2
Tail Number                                 228
Destination Airport                           2
Scheduled departure time                      2
Actual departure time                         2
Scheduled elapsed time (Minutes)              2
Actual elapsed time (Minutes)                 2
Departure delay (Minutes)                     2
Wheels-off time                               2
Taxi-Out time (Minutes)                       2
Delay Carrier (Minutes)                       2
Delay Weather (Minutes)                       2
Delay National Aviation System (Minutes)      2
Delay Security (Minutes)                      2
Delay Late Aircraft Arrival (Minutes)         2
dtype: int64

*Valeurs manquantes*

je vais supprimer les valeurs pour tous ,sauf Tail Number:
Le mode est une mesure statistique qui repr√©sente la valeur qui appara√Æt le plus fr√©quemment dans un ensemble de donn√©es.

In [33]:
#valeurs manquantes : 
df['Tail Number'].fillna(df['Tail Number'].mode()[0],inplace=True)
columns_with_missing = ['Carrier Code', 'Date (MM/DD/YYYY)', 'Flight Number',
       'Destination Airport', 'Scheduled departure time',
       'Actual departure time', 'Scheduled elapsed time (Minutes)',
       'Actual elapsed time (Minutes)', 'Departure delay (Minutes)',
       'Wheels-off time', 'Taxi-Out time (Minutes)', 'Delay Carrier (Minutes)',
       'Delay Weather (Minutes)', 'Delay National Aviation System (Minutes)',
       'Delay Security (Minutes)', 'Delay Late Aircraft Arrival (Minutes)']
# Supprimer les lignes o√π il y a des valeurs manquantes dans ces colonnes
df_cleaned = df.dropna(subset=columns_with_missing)

df_cleaned.isnull().sum()
df_cleaned.head(5)

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,AA,01-01-20,1.0,N110AN,LAX,07:30,07:30,393.0,404.0,0.0,07:57,27.0,0.0,0.0,0.0,0.0,0.0
1,AA,01-01-20,3.0,N111ZM,LAX,12:30,12:24,389.0,370.0,-6.0,12:38,14.0,0.0,0.0,0.0,0.0,0.0
2,AA,01-01-20,111.0,N663AW,CLT,12:00,13:11,127.0,119.0,71.0,13:34,23.0,19.0,0.0,0.0,0.0,44.0
3,AA,01-01-20,117.0,N113AN,LAX,19:30,19:26,402.0,379.0,-4.0,19:51,25.0,0.0,0.0,0.0,0.0,0.0
4,AA,01-01-20,179.0,N103NN,SFO,10:30,10:25,409.0,392.0,-5.0,10:42,17.0,0.0,0.0,0.0,0.0,0.0

Conversion

In [40]:
def convert_to_time(value):
    try:
        # Convertir la valeur en datetime, puis extraire l'heure
        time_value = pd.to_datetime(value, format='%H:%M', errors='coerce')  # 'coerce' met NaT pour les erreurs
        return time_value.time() if pd.notnull(time_value) else None  # Retourne l'heure si valide
    except Exception as e:
        # En cas d'erreur, retourner None
        print(f"Erreur lors de la conversion : {e}")
        return None

df_cleaned2 = df_cleaned.copy()

# Appliquer la conversion sur les colonnes
df_cleaned2['Scheduled departure time'] = df_cleaned2['Scheduled departure time'].apply(convert_to_time)
df_cleaned2['Actual departure time'] = df_cleaned2['Actual departure time'].apply(convert_to_time)
df_cleaned2['Wheels-off time'] = df_cleaned2['Wheels-off time'].apply(convert_to_time)

#conversion des colonnes de types pbject en type data 
colonnes_object = df_cleaned.select_dtypes(include=['object'])

df_cleaned2['Date (MM/DD/YYYY)'] = pd.to_datetime(df_cleaned2['Date (MM/DD/YYYY)'], errors='coerce', dayfirst=False)




#var cat√©gorielles 
df_cleaned2['Destination Airport'] = df_cleaned2['Destination Airport'].astype('category')
df_cleaned2['Tail Number'] = df_cleaned2['Tail Number'].astype('category')
df_cleaned2['Carrier Code'] = df_cleaned2['Carrier Code'].astype('category')

df_cleaned2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57410 entries, 0 to 57409
Data columns (total 17 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Carrier Code                              57410 non-null  category
 1   Date (MM/DD/YYYY)                         57410 non-null  datetime64[ns]
 2   Flight Number                             57410 non-null  float64
 3   Tail Number                               57410 non-null  category
 4   Destination Airport                       57410 non-null  category
 5   Scheduled departure time                  57410 non-null  object
 6   Actual departure time                     57410 non-null  object
 7   Scheduled elapsed time (Minutes)          57410 non-null  float64
 8   Actual elapsed time (Minutes)             57410 non-null  float64
 9   Departure delay (Minutes)                 57410 non-null  float64
 10  Wheels-off time                           57410 non-null  object
 11  Taxi-Out time (Minutes)                   57410 non-null  float64
 12  Delay Carrier (Minutes)                   57410 non-null  float64
 13  Delay Weather (Minutes)                   57410 non-null  float64
 14  Delay National Aviation System (Minutes)  57410 non-null  float64
 15  Delay Security (Minutes)                  57410 non-null  float64
 16  Delay Late Aircraft Arrival (Minutes)     57410 non-null  float64
dtypes: category(3), datetime64[ns](1), float64(10), object(3)
memory usage: 6.8+ MB

C:\Users\asus\AppData\Local\Temp\ipykernel_13348\870404316.py:21: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_cleaned2['Date (MM/DD/YYYY)'] = pd.to_datetime(df_cleaned2['Date (MM/DD/YYYY)'], errors='coerce', dayfirst=False)

 ***Analyse Univari√©e***

Variable cible : Retard

In [44]:
# Assurez-vous que les colonnes horaires sont bien converties en format 'time'
df_cleaned1 = df.dropna(subset=['Scheduled departure time', 'Actual departure time'])
df_cleaned1['Scheduled departure time'] = pd.to_datetime(df_cleaned1['Scheduled departure time'], format='%H:%M', errors='coerce').dt.time
df_cleaned1['Actual departure time'] = pd.to_datetime(df_cleaned1['Actual departure time'], format='%H:%M', errors='coerce').dt.time

# Fonction pour calculer la diff√©rence entre deux heures
def time_difference_in_hours(time1, time2):
    # Convertir les objets time en datetime pour effectuer la diff√©rence
    t1 = pd.to_datetime(str(time1), format='%H:%M')
    t2 = pd.to_datetime(str(time2), format='%H:%M')
    
    # Calculer la diff√©rence en heures
    diff = (t2 - t1).total_seconds() / 3600  # conversion des secondes en heures
    return diff

# Cr√©er la variable 'retard' en fonction de la diff√©rence
df_cleaned1['retard'] = df_cleaned1.apply(
    lambda row: 1 if time_difference_in_hours(row['Scheduled departure time'], row['Actual departure time']) > 0.1 else 0,
    axis=1
)

# V√©rifier le r√©sultat
print(df_cleaned1[['Scheduled departure time', 'Actual departure time', 'retard']].head())

# V√©rification des types apr√®s ajout de la variable
df_cleaned1.info()

C:\Users\asus\AppData\Local\Temp\ipykernel_13348\1336472915.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned1['Scheduled departure time'] = pd.to_datetime(df_cleaned1['Scheduled departure time'], format='%H:%M', errors='coerce').dt.time
C:\Users\asus\AppData\Local\Temp\ipykernel_13348\1336472915.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned1['Actual departure time'] = pd.to_datetime(df_cleaned1['Actual departure time'], format='%H:%M', errors='coerce').dt.time

ValueError: unconverted data remains when parsing with format "%H:%M": ":00", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [43]:
# Calcul de la diff√©rence entre les heures de d√©part
df_cleaned2['Difference'] = (df_cleaned2['Actual departure time'] - df_cleaned2['Scheduled departure time']).dt.total_seconds() / 60

TypeError: unsupported operand type(s) for -: 'datetime.time' and 'datetime.time'