In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [2]:
df1=pd.read_excel("données_métép.xlsx")

In [3]:
df1.head(5)
#suppression  ddes lignes indésirables

copy=df1.copy()
copy = copy.iloc[3:].reset_index(drop=True)

copy.head(5)

,latitude,longitude,elevation,utc_offset_seconds,timezone,timezone_abbreviation,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,2020-11-01 00:00:00,7.4,64,1.1,4.1,0,0,0,0,3,1031.7,1031.4,100,94,0,0,0.02,0.37,9.1,14.7,189,191,19.8,8,9.9,15.6,19.7,0.385,0.392,0.276,0.327
1,2020-11-01 01:00:00,7.3,67,1.6,4.2,0,0,0,0,3,1031.2,1030.9,96,96,0,0,0.02,0.34,8,15.9,190,193,15.1,8,9.9,15.5,19.7,0.384,0.391,0.276,0.327
2,2020-11-01 02:00:00,7.9,67,2.1,4.7,0,0,0,0,3,1030.9,1030.6,89,89,0,0,0.02,0.35,9.4,17.9,187,189,15.5,8,9.8,15.5,19.7,0.384,0.39,0.276,0.327
3,2020-11-01 03:00:00,8.7,64,2.2,4.7,0,0,0,0,2,1030,1029.8,76,76,0,0,0.04,0.41,14.8,23.9,186,187,24.1,8.2,9.8,15.5,19.7,0.383,0.39,0.276,0.327
4,2020-11-01 04:00:00,9,64,2.4,4.9,0,0,0,0,3,1029.3,1029.1,95,95,0,0,0.05,0.42,16.1,25.6,209,208,28.4,8.4,9.8,15.4,19.7,0.383,0.389,0.277,0.327

In [ ]:
df2=pd.read_excel("Detailed_Statistics_Departures.xlsx")
df2.head(5)

,<B>Detailed Statistics Departures<B> <BR>Origin Airport: New York,NY: John F. Kennedy International (JFK)<BR>Airline: American Airlines Inc. (AA)<BR>Month(s): January,February,March,April,May,June,July,August,September,October,November,and December<br>Day(s): 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30 and 31<br>Year(s): 2020,2021,2022,"2023 and 2024<br><BR><table rules=""all"" border=""1"">"
0,<tr>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"<th scope=""col"">Carrier Code</th><th scope=""co...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,</tr><tr>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,<td>AA</td><td>01/01/2020</td><td>0001</td><td...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,</tr><tr>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

:

In [ ]:
import requests

# URL de l'API Open-Meteo avec les paramètres requis
url = "https://archive-api.open-meteo.com/v1/archive?latitude=40.64&longitude=-73.77&start_date=2020-11-01&end_date=2024-11-01&hourly=temperature_2m,precipitation,rain,snowfall,cloud_cover,cloud_cover_low,cloud_cover_mid,cloud_cover_high,wind_speed_10m,wind_speed_100m,wind_direction_10m,wind_direction_100m&format=csv"

# Effectuer la requête GET
response = requests.get(url)

# Vérifier si la requête a réussi
if response.status_code == 200:
    # Enregistrer le contenu dans un fichier CSV
    with open("weather_data.csv", "wb") as file:
        file.write(response.content)
    print("Téléchargement terminé ! Les données sont enregistrées dans 'weather_data.csv'.")
else:
    print(f"Erreur lors de la requête : {response.status_code}")